 @font-face {
    font-family: 'BlusaFont';
    src: url('/assets/Fuentes/Comfortaa-Regular.ttf');
  }
  
  @font-face {
    font-family: 'BlusaFont2';
    src: url('/assets/Fuentes/Relevance.ttf');
  } 

   p{
    font-family: 'BlusaFont2';
    font-size: 18px;
  } 