<!-- Se incluye la hoja de estilos de Bootstrap desde un CDN -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="banner">
  <!-- Sección de banner con video de fondo -->
  <video autoplay muted loop playsinline class="tagline-video">
        <source src="./assets/loopHeaders/looptreecup.mp4" type="video/mp4">
    </video>


<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
       <!-- Contenedor de las tarjetas de videos -->
      <div class="gal ">

        <!-- Tarjeta de video 1 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=fmDYRzEwxLE">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/fin.jpg" alt="Fin" />
          </a>
          <div class="card-body">
            <p>Rotary "Fin"</p>
          </div>
        </div>

        <!-- Tarjeta de video 2 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=HWWdBS-nQN0">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/2.jpg" alt="#2" />
          </a>
          <div class="card-body">
            <p>K "#2"</p>
          </div>
        </div>

        <!-- Tarjeta de video 3 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=5XsJg2qIzrA">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/4.jpg" alt="#4" />
          </a>
          <div class="card-body">
            <p>K "#4"</p>
          </div>
        </div>

        <!-- Tarjeta de video 4 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=pvdmi4ZnLDI">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/Darkarp.jpg" alt="DarkArp"/>
          </a>
          <div class="card-body">
            <p>Resonance "Darkarp"</p>
          </div>
        </div>

        <!-- Tarjeta de video 5 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=SgNpVUFqBoU">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/Resonance.jpg" alt="Resonance"/>
          </a>
          <div class="card-body">
            <p>Resonance "Resonance"</p>
          </div>
        </div>

        <!-- Tarjeta de video 6 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=F_Dc4Of-JL8">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/BlusaBlusa.jpg" alt="Blusa"/>
          </a>
          <div class="card-body">
            <p>Blusa "Blusa"</p>
          </div>
        </div>

        <!-- Tarjeta de video 7 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=qFGYW9Llu7Y">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/labrador.jpg" alt="Labrador" />
          </a>
          <div class="card-body">
            <p>Toca Breackbeat, perro! "Labrador"</p>
          </div>
        </div>

        <!-- Tarjeta de video 8 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=K7WkMZHHi5o">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/facenda.jpg" alt="Facenda"/>
          </a>
          <div class="card-body">
            <p>Toca Breackbeat, perro! "Facenda"</p>
          </div>
        </div>

        <!-- Tarjeta de video 9 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=O_K4FN_cERw">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/10.jpg" alt="#10"/>
          </a>
          <div class="card-body">
            <p>K "#10"</p>
          </div>
        </div>

        <!-- Tarjeta de video 10 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=bsy0g5wo6DQ">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/cutoff.jpg" alt="CutOff"/>
          </a>
          <div class="card-body">
            <p>Sala X, 2019. "Cutoff"</p>
          </div>
        </div>

        <!-- Tarjeta de video 11 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=k6pUJMSBKYM">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/3.jpg" alt="#3"/>
          </a>
          <div class="card-body">
            <p>The Rincón Pío Sound, 2017. "#3"</p>
          </div>
        </div>

        <!-- Tarjeta de video 12 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=WKqyFtchFh8">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/kiowa.jpg" alt="Kiowa"/>
          </a>
          <div class="card-body">
            <p>Rotary "Kiowa"</p>
          </div>
        </div>

        <!-- Tarjeta de video 13 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=h0pwjGVSb9U">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/lamina2014.jpg" alt="Kiowa"/>
          </a>
          <div class="card-body">
            <p>Grabación "Toca Breakbeat, perro!", 2014</p>
          </div>
        </div>

        <!-- Tarjeta de video 14 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=4tBc1BMBZ1k">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/Oblique.jpg" alt="Kiowa"/>
          </a>
          <div class="card-body">
            <p>Oblique Electronic Version. First Take.</p>
          </div>
        </div>

        <!-- Tarjeta de video 15 -->
        <div class="card">
          <a data-fancybox href="https://www.youtube.com/watch?v=AFSwxzy3Ez8">
            <img class="card-img-top img-fluid" src="./assets/PortadaVideo/lamina.jpg" alt="Kiowa"/>
          </a>
          <div class="card-body">
            <p>Grabación "Resonance", 2020</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
</div>