<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div id="bloque1">
</div>

<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">

      <div class="gal">

        <img (click)="manejador(i)" *ngFor="let eachImg of imagenes; let i=index" class="grid__img" [alt]="eachImg.alt"
          [src]="eachImg.src">

      </div>
    </div>
  </div>

  <div class="lightbox" [ngClass]="{'isActive': lightboxActive}">
    <button mat-icon-button (click)="manejadorbtn()">
      <mat-icon>clear</mat-icon>
    </button>
    <img alt="High" [src]="imagenes[imgIndex].src" class="lightboximg">
  </div>
  <div class="containermouse" (click)="scrollup()" [ngClass]="{'isActive': mouseActive}" >
    <div class="field">
      <div class="mouse" ></div>
    </div>
  </div>
</div>