<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

 <div class="banner">
    <video autoplay muted loop playsinline class="tagline-video">
        <source src="./assets/loopHeaders/loopbosqueAncho.mp4" type="video/mp4">
    </video>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <app-productlist></app-productlist>
        </div>
        <div class="col-md-4">
            <app-cart></app-cart>
        </div>
    </div>
</div>
</div>
