<!-- Implementamos las dependencias de bootstrap y jquery -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="banner">
    <!--  Contenedor del vídeo background -->
    <video autoplay muted loop playsinline class="tagline-video">
        <source src="./assets/loopHeaders/looptronco.mp4" type="video/mp4">
    </video>

    <!-- Contenedor del cuadro con la bio -->
    <div class="cont">
        <div class="container bootstrap snippets bootdey">
            <div class="profile card">
                <div class="profile-body">
                    <div class="profile-bio">
                        <div class="row">
                            <div class="col-md-5 ">
                                <img class="img-thumbnail md-margin-top-10 " src="./assets/bio3.jpg" alt="">
                             
                                <h2>Blusa</h2>
                                <span><strong>Instrumental Electronic Music</strong></span>
                            </div>
                            <div class="col-md-7">
                                <hr>
                                <!-- Contenedor con el texto de la bio -->
                                <div class="hrz-txt-scroll">
                                    <p><b>Blusa</b></p>
                                    <br>
                                    <p>Es uno de los grupos más veteranos de la escena sevillana, naciendo en el año
                                        1999 de las cenizas de Painful, nombre destacado del indie nacional de los
                                        noventa, llegando a tocar en festivales multitudinarios junto a Stereolab. </p>
                                    <p>Nacido como quinteto, componían Blusa en el origen los hermanos Javi y Daniel
                                        Barja (vocalista y guitarrista), Carmelo González (bajista), Jorge Marmesat
                                        (guitarrista) y Antonio Ortiz (batería).</p>
                                    <br>
                                    <p>Una formación con la que publicaron un epé y el primer elepé, Annual for boys
                                        1954 (1999), ambos con el sello Indoor Records de Paco Trilita y con un estilo
                                        en el que predominaba el rock influenciado por bandas americanas como Sonic
                                        Youth o Pavement. En estas fechas fueron finalistas del prestigioso concurso
                                        Villa de Bilbao con una notable repercusión en los medios. </p>
                                    <br>
                                    <p>Tras publicar un nuevo epé autoeditado en 2004, hubo algunos cambios en la
                                        formación. La banda, radicada inicialmente en Villanueva del Río y Minas, se
                                        quedó en cuarteto instrumental cuando el cantante Javi Barja se mudó a la
                                        capital. Marcha que aprovecharon para variar de registro, dejándose seducir por
                                        el pujante post rock de la época.</p>
                                        <br>
                                    <p>Por fin en 2011 reaparecieron con el EP Rotary, con la incoporación de Curro
                                        Molina al bajo y las programaciones, en el que ya coqueteaban con la electrónica
                                        aunque de forma sutil, y tres años después llegó el segundo álbum, ¡Toca
                                        breakbeat, perro! (Sello Salvaje), en el que retoman su sonido más crudo
                                        haciendo así un paréntesis en su camino hacia rutas más sintetizadas. Un disco
                                        grabado en el estudio La Mina junto a Raúl Pérez.</p>
                                    <br>
                                    <p>Tras perder al segundo guitarrista (Jorge Marmesat) en 2016, Blusa quedó como
                                        trío cada vez más orientado hacia la electrónica en una evolución siempre
                                        marcada por la apuesta por la experimentación, palpable en su tercer disco
                                        largo, K, publicado por el sello madrileño Nooirax en 2017.</p>
                                    <br>
                                    <p>En 2018 ganaron el concurso Hip-hop/Rock de Marchena, patrocinado por la
                                        Diputación de Sevilla y auspiciado por la revista Mondosonoro. A finales de ese
                                        año comienzan a grabar en el estudio La Mina junto a Nacho García su cuarto
                                        disco largo, que aparece por fin en febrero de 2020 con el título de Resonance.</p>
                                    <br>
                                    <p>Vuelven ahora, varios años después, con un nuevo trabajo de título homónimo
                                        respaldados de nuevo por Nooirax. Con un gran peso de instrumentos virtuales y
                                        electrónica no renuncian empero a la base de rock instrumental que los
                                        caracteriza y así nos presentan un sorprendente único corte de poco más de
                                        quince minutos. Es grabado a principios del pasado año en Estudio 335 casi en su
                                        totalidad, habiendo añadido elementos puntuales a posteriori y mezclado y
                                        producido también por el propio grupo en un laborioso trabajo que ha llevado a
                                        postergar su publicación hasta ahora.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>