<!-- Cargamos las dependencias de Bootstrap -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="banner">
  <!-- Contenedor del video de fondo -->
  <video autoplay muted playsinline loop class="tagline-video">
    <source src="./assets/loopHeaders/looproca.mp4" type="video/mp4">
  </video>

  <!-- Sección principal con una imagen de fondo -->
  <section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Ingresa</h2>

                <!-- Formulario de inicio de sesión -->
                <form (ngSubmit)="login()" [formGroup]="loginUsuario">

                  <!-- Campo de entrada para el correo electrónico -->
                  <div class="form-outline mb-4">
                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" placeholder="Tu Email"
                      name="mail" formControlName="mail" />
                  </div>

                  <!-- Campo de entrada para la contraseña -->
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cg" class="form-control form-control-lg"
                      placeholder="Password" name="pass" formControlName="pass" />
                  </div>

                  <!-- Botón para enviar el formulario -->
                  <div class="d-flex justify-content-center">
                    <button type="submit" [disabled]="loginUsuario.invalid"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Ingresa</button>
                  </div>

                  <!-- Enlace para registrarse -->
                  <p class="text-center text-muted mt-5 mb-0">Aún no tienes una cuenta? <a routerLink="/login"
                      class="fw-bold text-body"><u>Regístrate aquí</u></a></p>

                  <!-- Contenido a renderizar cuando la condición es verdadera -->
                  <div *ngIf="logged">
                    <p>Contenido a renderizar cuando la condición es verdadera.</p>
                  </div>

                </form>

                <!-- Botón de inicio de sesión con Google -->
                <cool-google-button class="d-flex justify-content-center mt-5" color="light" (click)="googleClick()">
                  Login with Google
                </cool-google-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
