
<header>
	
	<nav class="navbar container-fluid navbar-expand-lg navbar-light nav-color">

		<div  id="menu-desktop">
			<div>
			<ul class="navbar-nav">
				<li routerLink="/" class="nav-item"> <a class="nav-link">Inicio</a> </li>
				<li routerLink="/video" class="nav-item"> <a class="nav-link">Vídeo</a> </li>
				<li routerLink="/musica" class="nav-item"> <a class="nav-link">Música</a> </li>
				<li routerLink="/galeria" class="nav-item"> <a class="nav-link">Galería</a> </li>
				<li routerLink="/eventos" class="nav-item"> <a class="nav-link">Eventos</a> </li>
				<li routerLink="/merch" class="nav-item"> <a class="nav-link">Merch</a> </li>
				<li routerLink="/contacto" class="nav-item"> <a class="nav-link">Contacto</a> </li>
				<li routerLink="/bio" class="nav-item"> <a class="nav-link">Bio</a> </li>
				<li routerLink="/login" class="nav-item"> <a class="nav-link">Registro</a> </li>
				<li routerLink="/loginreal" class="nav-item" id="login"> <a class="nav-link">Login</a> </li>
				<div class="position-absolute top-20 end-0" id="cesta">
				<li routerLink="/merch" class="nav-item "><a class="nav-link"><mat-icon [matBadge]="numeroArticulos" matBadgeColor="warn">shopping_cart</mat-icon></a></li></div>
				<div class="position-absolute top-20 end-0" id="logout">
				<li class="nav-item" (click)="logOut()"><a class="nav-link"><mat-icon>logout</mat-icon></a></li></div>
			</ul>
		</div>
		</div>



		<div id="menu-movil">
			<div [ngClass]="{'active': isClicked}" (click)="toggleClass()" id="burguer">
				<span class="line1"></span>
				<span class="line2"></span>
				<span class="line3"></span>
			</div>
			<div [ngClass]="{'open': isClicked}" (click)="toggleClass()">
			<ul class="navbar-nav">
				<li routerLink="/" class="nav-item"> <a class="nav-link">Inicio</a> </li>
				<li routerLink="/video" class="nav-item"> <a class="nav-link">Vídeo</a> </li>
				<li routerLink="/musica" class="nav-item"> <a class="nav-link">Música</a> </li>
				<li routerLink="/galeria" class="nav-item"> <a class="nav-link">Galería</a> </li>
				<li routerLink="/eventos" class="nav-item"> <a class="nav-link">Eventos</a> </li>
				<li routerLink="/merch" class="nav-item"> <a class="nav-link">Merch</a> </li>
				<li routerLink="/contacto" class="nav-item"> <a class="nav-link">Contacto</a> </li>
				<li routerLink="/bio" class="nav-item"> <a class="nav-link">Bio</a> </li>
				<li routerLink="/login" class="nav-item"> <a class="nav-link">Registro</a> </li>
				<li routerLink="/loginreal" class="nav-item" id="login"> <a class="nav-link">Login</a> </li>
				<li class="nav-item "><a ><mat-icon [matBadge]="numeroArticulos" matBadgeColor="warn" class="icon" id="cesta2">shopping_cart</mat-icon></a></li>
				<li class="nav-item" (click)="logOut()"><a ><mat-icon class="icon">logout</mat-icon></a></li>
			</ul> 
		</div>
		</div>
	</nav>
</header>
