.modal-backdrop {
    z-index: 1;
}

.modal-content{
    background-color: rgb(8, 37, 63);
    color:rgb(236, 233, 228);
    padding: 10px;
    overflow: scroll;

}
.close{
    color:rgb(236, 233, 228);
}
span{
    color:rgb(236, 233, 228);
}

.modal-header{
    background-color: rgb(8, 37, 63);
    color:rgb(236, 233, 228);
    padding: 10px;
    border: solid, 1px, rgb(236, 233, 228);;

}