<!-- Contenido del modal -->
<div class="modal-content" data-backdrop="false">

    <!-- Botón para cerrar el modal -->
    <button type="button" class="close" data-dismiss="modal" 
    aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span> <!-- Icono de cerrar -->
    </button>
        <br><p></p>
        <h4>Políticas y términos de uso.</h4>
        <br><p></p>
    <p> Bienvenido a Blusa.org. Al acceder o usar este sitio web, aceptas cumplir con estos Términos de Uso. Si no estás de acuerdo con ellos, debes dejar de usar el sitio de inmediato.</p>
        <p>1. Uso del Sitio Web</p>
        <p>1.1. Este sitio web está diseñado para proveer contenido musical y otros recursos relacionados. Al usarlo, te comprometes a no violar ninguna ley ni infringir derechos de terceros. </p>
        <p>1.2. Estás de acuerdo en no cargar ni distribuir contenido ilícito, ofensivo, difamatorio, obsceno, o que infrinja derechos de propiedad intelectual.</p>
        <p>2. Propiedad Intelectual</p>
        <p>2.1. Todo el contenido del sitio, incluyendo música, imágenes, textos y diseños, es propiedad de Blusa S.L. o se utiliza con el debido permiso. No puedes copiar, distribuir ni modificar el contenido sin autorización por escrito. </p>
        <p>2.2. Si crees que algún contenido del sitio infringe tus derechos de propiedad intelectual, por favor contacta con nosotros a través de blusa&#64;blusa.org para resolver la situación.</p>
        <p> 3. Privacidad</p>
        <p>3.1. La información personal que recolectamos se utilizará de acuerdo con nuestra política de provacidad que debes leer y comprender. </p>
        <p>3.2. No venderemos ni compartiremos tu información personal con terceros, excepto según lo descrito en la Política de Privacidad.</p>
        <p>4. Conducta del Usuario</p>
        <p>4.1. Te comprometes a no usar el sitio para actividades fraudulentas, engañosas o ilegales. </p>
        <p>4.2. No puedes intentar acceder a áreas restringidas del sitio ni realizar acciones que comprometan la seguridad del sitio o de otros usuarios.</p>
        <p>5. Limitación de Responsabilidad</p>
        <p>5.1. Blusa S.L. no será responsable por daños directos, indirectos, incidentales, consecuentes o especiales derivados del uso o la imposibilidad de usar el sitio web. 5.2. El sitio se proporciona "tal cual" y no se garantiza que estará libre de errores o interrupciones.</p>
        <p> 6. Modificaciones</p>
        <p> 6.1. Nos reservamos el derecho de modificar estos Términos de Uso en cualquier momento. Te notificaremos sobre cambios importantes y te recomendamos revisar estos términos periódicamente. </p>
        <p> 6.2. El uso continuo del sitio después de las modificaciones implica tu aceptación de los términos actualizados.</p>
        <p> 7. Contacto</p>
        <p> Si tienes preguntas sobre estos Términos de Uso, puedes contactarnos en blusa&#64;blusa.org.</p>
        ________________________________________
        <br>
        <p></p>
        <p>Política de Privacidad</p>
        <p> Tu privacidad es importante para nosotros. Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos tu información personal.</p>
        <p> 1. Información que Recopilamos</p>
        <p> 1.1. Recopilamos información personal como nombre, dirección de correo electrónico y otros datos cuando te registras o usas ciertos servicios en el sitio. </p>
        <p> 1.2. Podemos recopilar información no identificable personalmente para mejorar nuestro sitio, como datos demográficos o de tráfico.</p>
        <p>2. Uso de la Información</p>
        <p>2.1. Utilizamos la información personal para proporcionarte servicios, comunicarnos contigo y mejorar la experiencia del usuario.</p>
        <p>  2.2. No venderemos ni compartiremos tu información personal con terceros a menos que sea necesario para proporcionar servicios o conforme a la ley.</p>
        <p> 3. Cookies y Tecnología de Seguimiento</p>
        <p> 3.1. Usamos cookies para mejorar la experiencia del usuario. Puedes ajustar la configuración de cookies en tu navegador, pero esto puede afectar el funcionamiento del sitio. </p>
        <p> 3.2. No compartimos datos de seguimiento con terceros no autorizados.</p>
        <p>4. Seguridad</p>
        <p> 4.1. Mantenemos medidas de seguridad para proteger tu información personal, pero ningún sistema es completamente seguro. No podemos garantizar la seguridad absoluta.</p> 
        <p> 4.2. Si detectamos una violación de seguridad que afecte tu información, te notificaremos según lo requerido por la ley.</p>
        <p>5. Derechos de los Usuarios</p>
        <p>5.1. Tienes el derecho a acceder, corregir o eliminar tu información personal. Puedes hacerlo contactándonos en blusa&#64;blusa.org</p>
        <p>5.2. Puedes optar por no recibir correos electrónicos promocionales siguiendo las instrucciones de cada correo.</p>
        <p>6. Cambios en la Política de Privacidad</p>
        <p> 6.1. Nos reservamos el derecho de cambiar esta Política de Privacidad en cualquier momento. Te notificaremos sobre cambios significativos y te recomendamos revisar esta política periódicamente. </p>
        <p> 6.2. El uso continuo del sitio después de las modificaciones implica tu aceptación de la política actualizada.</p>

        
    <br>
    </div> 