@font-face {
  font-family: 'BlusaFont';
  src: url('/assets/Fuentes/Comfortaa-Regular.ttf');
}

.banner {
  height: 1800px;
  font-family: 'BlusaFont', serif;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.banner video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.contenedor {
  position: absolute;
  width: 670px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel {
  overflow: hidden;
  padding-bottom: 4rem;
  cursor: pointer;
}

.carousel-caption {
  top: 100%;
}

.carousel-inner {
  overflow: visible;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  bottom: 4rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 20px;
}

.peq {
  font-size: 80%;
}

@-webkit-keyframes playing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@-moz-keyframes playing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@-o-keyframes playing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes playing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}


.contentplayer {
  position: absolute;
  width: 500px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes harlem {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }

  20% {
    transform: scale(1.03, 1);
    -webkit-transform: scale(1.03, 1);
    -moz-transform: scale(1.03, 1);
    -o-transform: scale(1.03, 1);
    -ms-transform: scale(1.03, 1);
  }

  40% {
    transform: scale(0.97, 1);
    -webkit-transform: scale(0.97, 1);
    -moz-transform: scale(0.97, 1);
    -o-transform: scale(0.97, 1);
    -ms-transform: scale(0.97, 1);
  }

  60% {
    transform: scale(1.01, 1);
    -webkit-transform: scale(1.01, 1);
    -moz-transform: scale(1.01, 1);
    -o-transform: scale(1.01, 1);
    -ms-transform: scale(1.01, 1);
  }

  80% {
    transform: scale(0.99, 1);
    -webkit-transform: scale(0.99, 1);
    -moz-transform: scale(0.99, 1);
    -o-transform: scale(0.99, 1);
    -ms-transform: scale(0.99, 1);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 2.5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #fff;
}

h3 {
  font-size: 11px;
  line-height: 11px;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  color: #dad8d8;
}

#duracion {
  font-size: 9px;
  line-height: 11px;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  color: #dad8d8;
}

h4 {
  font-size: 14px;
  line-height: 14px;
  font-family: 'Open Sans', serif;
  font-weight: 700;
  color: #fff;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Open Sans', serif;
  font-weight: 700;
  color: #cfcdcd;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Open Sans', serif;
  font-weight: 700;
  color: #f0f0f0;
}

.screen {
  background-image: url("/assets/Photo/K/mandelbubparareprod.jpg");
  padding: 0;
  height: 650px;
  width: 366px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  margin: 30px 0;
}

.header {
  display: inline-flex;
  margin: 0 0 40px 0;
}

input[type=checkbox] {
  visibility: hidden;
  margin: 0;
  padding: 0;
  z-index: 10;
}

label.main:before {
  position: absolute;
  top: 23px;
  left: 23px;
  content: '\f0c9';
  font-family: 'Font Awesome\ 5 Free', serif;
  font-weight: 900;
  color: #d7d7d7;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in;
}

label.main:hover:before {
  color: #bbb;
}

.screen>#magicButton:checked~label.main:before {
  color: #33473b;
  transition: all 0.3s ease-in;
}

.coverImage img {
  width: 366px;
}

.coverImage {
  background-size: cover;
  width: 366px;
  height: 366px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.coverImage {
  transform: scale(0.251, 0.251);
  left: 23px;
  top: 60px;
  transition: all 0.3s ease-in;
  border-radius: 20px;
}

.search:before {
  position: absolute;
  top: 23px;
  right: 23px;
  content: '\f002';
  font-family: 'Font Awesome\ 5 Free', serif;
  font-weight: 900;
  color: #c3c3c3;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in;
}

.search:hover:before {
  color: #c3c3c3;
}

.seekbar {
  position: absolute;
  top: 640px;
  width: 366px;
  cursor: pointer;
  z-index: 1;
  accent-color: #0e2564;
  background-color: #33473b;
  border: none;
}

.seekbar::-webkit-progress-value {
  background-color: #17015e;
  accent-color: #03414a;
}

.seekbar::-webkit-progress-bar {
  background-color: #103659 !important;
  accent-color: #35383e;
}

.seekbar::-moz-progress-bar {
  background-color: #103659 !important;
  accent-color: #35383e;
}

.seekbar::-ms-fill {
  background-color: #103659 !important;
  accent-color: #35383e;
}

.bodyPlayer {
  position: absolute;
  top: 366px;
  left: 0;
  margin: 0;
  padding: 0;
  height: 286px;
  width: 366px;
  background: #111;
  transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.bodyPlayer {
  height: 470px;
  left: 0;
  top: 180px;
  transition: all 0.3s ease-in;
}

.list {
  border-spacing: 0px 2px;
  width: 342px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 378px;
  left: 12px;
  transform-origin: 0% 0%;
  transform: scale(0.1, 0.1);
  transition: all 0.3s ease-in;
}

.list tr {
  transform-origin: 0% 50%;
  height: 41px;
  text-align: center;
  background: #1d1d1d;
  text-indent: 8px;
}

.list tr:hover {
  background: #222;
  cursor: pointer;
}

.title {
  width: 215px;
  text-align: left;
  text-indent: 15px;
  transition: all 0.11s ease-in;
  height: 5px;
}

.list tr:hover .title {
  padding-left: 5px;
  width: 210px;
  transition: all 0.11s ease-in;
}

.screen>#magicButton:checked~.list {
  top: 192px;
  left: 12px;
  opacity: 1;
  visibility: visible;
  transform: scale(1, 1);
  transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~table tr:nth-child(1) {
  opacity: 1;
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.185s;
}

.screen>#magicButton:checked~table tr:nth-child(2) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.2s;
}

.screen>#magicButton:checked~table tr:nth-child(3) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.215s;
}

.screen>#magicButton:checked~table tr:nth-child(4) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.23s;
}

.screen>#magicButton:checked~table tr:nth-child(5) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.245s;
}

.screen>#magicButton:checked~table tr:nth-child(6) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.26s;
}

.screen>#magicButton:checked~table tr:nth-child(7) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.275s;
}

.screen>#magicButton:checked~table tr:nth-child(8) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.29s;
}

.screen>#magicButton:checked~table tr:nth-child(9) {
  animation: harlem 0.3s linear forwards;
  animation-delay: 0.305s;
}

label.zmr:before {
  content: '\f002';
  font-family: 'Font Awesome\ 5 Free', serif;
  font-weight: 900;
  color: #b1b1b1;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.15s linear;
}

.bar {
  background: url('http://imgh.us/bar_3.svg') no-repeat;
  background-size: 100%;
  width: 320px;
  height: 21px;
  position: absolute;
  top: 407px;
  left: 23px;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.bar {
  background-color: #43554a;
  top: 119px;
  left: 126px;
  transform: scale(0.6875, 0.6875);
  transition: all 0.3s ease-in;
}


.info {
  width: 250px;
  position: absolute;
  left: 104px;
  top: 420px;
  transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.info {
  top: 66px;
  left: 126px;
  text-align: left;
  transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.info h4 {
  margin-left: 0;
  font-size: 16px;
  color: #111111;
  transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.info h3 {
  margin-left: 0;
  font-size: 13px;
  color: #575757;
  transition: all 0.3s ease-in;
}

.player {
  background: none;
  text-align: center;
  font-family: 'Font Awesome\ 5 Free', serif;
  font-weight: 900;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  width: 216px;
  height: 35px;
  position: absolute;
  bottom: 100px;
  left: 48%;
  transform: translate(-50%, 0);
  z-index: 10;
  transition: all 0.3s ease-in;
  border-spacing: 0;
}

.player td {
  width: 72px;
}

.backward:before {
  content: "\f04a";
  cursor: pointer;
  transition: all 0.15s linear;
}

.play:before {
  content: "\f04b";
  cursor: pointer;
  transition: all 0.15s linear;
}

.pause:before {
  content: "\f04c";
  cursor: pointer;
  transition: all 0.15s linear;
}

.forward:before {
  content: "\f04e";
  cursor: pointer;
  transition: all 0.15s linear;
}

.backward:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.play:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.pause:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.forward:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}


.screen>#magicButton:checked~.player {
  bottom: 4px;
  left: -44px;
  transform: scale(0.45, 0.45);
  transition: all 0.3s ease-in;
}

.shadow {
  background: rgba(17, 17, 17, 0.8);
  width: 366px;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 0;
  box-shadow: 0px -15px 40px rgba(17, 17, 17, 0.8);
}

.footer {
  background: none;
  font-family: 'Font Awesome\ 5 Free', serif;
  font-weight: 900;
  color: #b9b9b9;
  font-size: 15px;
  line-height: 15px;
  height: 45px;
  width: 360px;
  position: absolute;
  bottom: 10px;
  left: 23px;
  z-index: 20;
  transition: all 0.15s linear;
  transition: bottom 0.3s linear;
}

.shuffle:before {
  content: "\f074";
  cursor: pointer;
  transition: all 0.15s linear;
}

.repeat:before {
  content: "\f01e";
  cursor: pointer;
  transition: all 0.15s linear;
}

.options:before {
  content: "\f141";
  cursor: pointer;
  transition: all 0.15s linear;
}

.shuffle:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.repeat:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

.options:hover:before {
  color: #bbb;
  transition: all 0.15s linear;
}

td > #shuffle:checked ~ label.shuffle:before {
  color: #ff564c;
  transition: all 0.15s linear;
}

td > #repeat:checked ~ label.repeat:before {
  color: #ff564c;
  transition: all 0.15s linear;
} 

.screen>#magicButton:checked~.footer {
  bottom: -60px;
  transition: all 0.3s ease-in;
}

.current {
  position: absolute;
  right: 23px;
  bottom: -60px;
  transition: all 0.3s ease-in;
}

.screen>#magicButton:checked~.current {
  bottom: 17px;
  transition: all 0.3s ease-in;
}

audio {
  visibility: hidden;
}

.containermouse {
  position: absolute;
  top: 1685px;
  left: 49.5%;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mouse {
  width: 30px;
  height: 60px;
  border: 1px solid #b5b5b5;
  border-radius: 60px;
  position: relative;

  &::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #b5b5b5;
    border-radius: 50%;
    opacity: 1;
    animation: 1s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}


@keyframes wheel {
  to {
    opacity: 0;
    top: 10px;
  }
}


.scroll {
  width: 60px;
  height: 60px;
  border: 2px solid #979797;
  border-radius: 50%;
  position: relative;
  animation: up 1.5s infinite;
  -webkit-animation: up 1.5s infinite;

}

@media(max-width:767px) {

  .banner {
    height: 200vh;
  }

  .banner video {
    width: 300%;
  }

  .carousel {
    position: relative;
    margin-bottom: 300px;
    display: flex;

    width: 50%;
    margin-left: 25%;
    margin-top: 0;

  }

}