<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<div class="banner">
	<video autoplay muted loop playsinline class="tagline-video">
		<source src="./assets/loopHeaders/loopHeaderInicio.mp4" type="video/mp4">
	</video>

		<div class="container">
			<div class="banner-innner">
				<div class="row">
					<div class="col-md-12">
						<div class="banner-left">
							<h1> BLUSA </h1>
							<p>Instrumental Electronic Music</p>

							<div class="containermouse" (click)="scroll()">
								<div class="field">
									<div class="mouse"></div>
								</div>
							</div>
						</div>
						<div class="contenedor">
							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">

									<div class="carousel-item active">
										<a [routerLink]="['/musica', 1]">
											<img class="d-block w-75 rounded mx-auto"
												src="../assets/Portadas/rotary.jpg" alt="First slide"></a>
										<div class="carousel-caption d-none d-md-block">
											<h5 class="peq">Rotary, 2011</h5>
										</div>
									</div>

									<div class="carousel-item ">
										<a [routerLink]="['/musica', 2]">
											<img class="d-block w-75 rounded mx-auto" src="../assets/Portadas/k.jpg"
												alt="Second slide"></a>
										<div class="carousel-caption d-none d-md-block">
											<h5 class="peq">K, 2017</h5>
										</div>
									</div>

									<div class="carousel-item">
										<a [routerLink]="['/musica', 3]"><img class="d-block w-75 rounded mx-auto"
												src="../assets/Portadas/tocabreakbeat.jpg" alt="Third slide"></a>
										<div class="carousel-caption d-none d-md-block">
											<h5 class="peq">Toca Breakbeat, perro!, 2014</h5>
										</div>
									</div>

									<div class="carousel-item">
										<a [routerLink]="['/musica', 4]"><img class="d-block w-75 rounded mx-auto"
												src="../assets/Portadas/resonance.jpg" alt="Third slide"></a>
										<div class="carousel-caption d-none d-md-block">
											<h5 class="peq">Resonance, 2020</h5>
										</div>
									</div>

									<div class="carousel-item">
										<a [routerLink]="['/musica', 5]"><img class="d-block w-75 rounded mx-auto"
												src="../assets/Portadas/blusablusa.jpg" alt="Third slide"></a>
										<div class="carousel-caption d-none d-md-block">
											<h5 class="peq">Blusa, 2023</h5>
										</div>
									</div>

								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
									data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="false"></span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
									data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="false"></span>
								</a>
								<div id="bloque2">
									
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
